@import "tailwindcss";
<<<<<<< HEAD
<<<<<<< HEAD
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden !important;
}
=======
 
>>>>>>> ae0b4b3d5b99a23cb0e1e6b3511b98e283471b28
=======
 
>>>>>>> 752bc9b278231d886f92a7f1345adb46d7f31f90
